body{
    background: url("auth/img/bg.png");
    background-attachment: fixed;
    background-size: cover;
}

table{
    padding: 50px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 3px #dbdbdb;
    margin:25vh auto;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.button{
    padding: 10px 20px;
    border-radius: 10px;
    background: #63b2ff;
    box-shadow: 2px 2px #2f4cf3;
    border: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    position: relative;
    margin: 25px 0 0 0;
    font-size: 15px;
}

.button:hover{
    top: 2px;
    left: 2px;
    box-shadow: none;

}